<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Paris Pyla</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'main/images/logo.png' %}" alt="Restaurant Logo" class="logo">
        <h2>Paris Pyla</h2>
    </header>
    <section id="about">
        <h2><span class="body-text">О нас</span></h2>
        <p><span class="body-text">Добро пожаловать в наш ресторан французской кухни. Мы предлагаем разнообразные вкусные блюда, приготовленные из самых свежих ингредиентов.</span></p>
        <div class="images-wrapper">
            <img src="{% static 'main/images/image1.jpg'%}" alt="">
            <img src="{% static 'main/images/image2.jpg'%}" alt="">
            <img src="{% static 'main/images/image3.jpg'%}" alt="">
        </div>
    </section>
    <section id="menu">
        <h2><span class="body-text">Меню</span></h2>
        <div class="menu-items">
            {% for item in menu_items %}
            <div class="menu-item">
                <img src="{{ item.image.url }}" alt="{{ item.name }}">
                <h3>{{ item.name }}</h3>
                <p>{{ item.description }}</p>   
                <p class="price">{{ item.price }} сом</p>
            </div>
            {% endfor %}
        </div>
    </section>
    <section id="location">
        <h2><span class="body-text">Локация</span></h2>
        <p><span class="body-text">улица Рен, бульвар Монпарнас</span></p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.7263084537954!2d2.3229985275661797!3d48.84435900487609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67115890ac421%3A0x119f58e381a2000e!2sParis%20Pyla!5e0!3m2!1sru!2skg!4v1717414442982!5m2!1sru!2skg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
    </section>
    <section id="contact">
        <h2><span class="body-text">Свяжитесь с нами</span></h2>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Ваше имя" required>
            <input type="email" name="email" placeholder="Ваш Email" required>
            <textarea name="message" placeholder="Ваше сообщение" required></textarea>
            <button type="submit" class="form-button">Отправить</button>
        </form>
    </section>
</body>
</html>
